<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dy.oauth.dao.UserDao">
	<resultMap type="com.dy.oauth.entiy.User" id="UserMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>	
		<collection property="authorities" ofType="com.dy.oauth.entiy.Role">
			<id column="id" property="id"/>
			<result column="rolename" property="name"/>
		</collection>		
	</resultMap>

	<select id="loadUserByUsername" resultMap="UserMap">
		select 
			user.id, user.username, user.password, role.id, role.rolename
		from 
			user_role
			left join user on user_role.username = user.username 
			left join role on user_role.rolename = role.rolename
		 where user.username=#{username}
	</select>
</mapper>